
<div id = "survey_header">
<form id="create_survey" action="#" method="post">
	<input type="text" name="name" placeholder = "survey title">
  <input type="text" name="body" placeholder = "question">
	<input type="submit" value="Submit">
</form>
</div>

<ul>

</ul>
<form id="create_choice" action="#" method="post">
  <input type="text" name="choice_body" placeholder = "">
  <input type="submit" value="Add another choice">
</form>
<p>Enter your choices above</p>
<a href="#" id = "add_choice">Done, Submit Survey</a>



