
<div id = "survey_header">
<form id="create_survey" action="#" method="post">
	<input type="text" name="name" placeholder = "survey title">
	<input type="submit" value="Submit">
</form>
</div>

<ul>

</ul>
<form id="create_question" action="#" method="post">
  <input type="text" name="body" placeholder = "question">
  <input type="hidden" name="survey_id">
  <input type="submit" value="Add Question">
</form>

<form id="create_choice" action="#" method="post">
  <input type="text" name="choice_body" placeholder = "">
  <input type="hidden" name="question_id">
  <input type="submit" value="Add another choice">
</form>
<p>Enter your choices above</p>
<a href="/users/:id/index" id = "add_choice">Done, Submit Survey</a>


<h1>Home Link 	<a href="/users/<%= session[:user_id] %>/index">Home</a></h1>
