<div id="centercreate">
  <div id = "survey_header">
  <form id="create_survey" action="#" method="post">
  	<input type="text" name="name" placeholder = "survey title">
  	<input type="submit" value="Submit">
  </form>
  </div>

  <ul>

  </ul>
  <form id="create_question" action="#" method="post">
    <input type="text" name="body" placeholder = "question">
    <input type="hidden" name="survey_id">
    <input type="submit" value="Add Question">
  </form>

  <form id="create_choice" action="#" method="post">
    <input type="text" name="choice_body" placeholder = "">
    <input type="hidden" name="question_id">
    <input type="submit" value="Add another choice">
  </form>
  <a id="create_another" class="homelink" href="#">Add another question?</a>
</div>

  <h1 class="homelink" ><a href="/users/<%= session[:user_id] %>/index">Home</a></h1>

