<% session[:user_id] = 1 %>


<a>Input Survey Title:</a>
<form name="create_survey" action="/surveys/new" method="post">
	<input type="text" name="survey_title">
	<input type="submit" value="Submit">
</form>


<% if session[:display] == true %>

<%= 'Congrats! You created a Survey' %>

<% end %>

