<% if User.find(session[:user_id]).surveys.find(session[:survey_id]) %>

  <p> You Are Working on: </p>

  <p><%= User.find(session[:user_id]).surveys.find(session[:survey_id]).name %></p>

  <p>Input Your First Question:</p>
  <form name="question" action="/surveys/questions/new" method="post">
    <input type="text" name="question_body">
    <input type="submit" value="Submit">
  </form>



<% end %>
