  <% if User.find(session[:user_id]).surveys.find(session[:survey_id]).questions.find(session[:question_id]) %>

    <p> Add Choices to Your Question:</p>
    <p><%= User.find(session[:user_id]).surveys.find(session[:survey_id]).questions.find(session[:question_id]).body %></p>

    <p>Input Your First Choice:</p>
    <form name="adding choices" action = "/surveys/questions/choice/new" method="post">
      <input type="text" name="choice_body">
      <input type="submit" value="Submit">
    </form>

      <% if User.find(session[:user_id]).surveys.find(session[:survey_id]).questions.find(session[:question_id]).choices %>

      <a> Add Choices to Your Question:</a>
      <%= User.find(session[:user_id]).surveys.find(session[:survey_id]).questions.find(session[:question_id]).body %>

      <a>Input Your Second Choice:</a>
      <form name="adding choices" action = "/surveys/questions/choice/new" method="post">
        <input type="text" name="choice_body">
        <input type="submit" value="Submit">
      </form>

      <% end %>
    <% end %>
