<form action="/users/new" method="get">
	<input type="submit" value="Sign Up">
</form>

<h3>Login:</h3>
<form action = "#" method= "post">
	<input type="text" name="#" placeholder="Username">
	<input type="text" name="#" placeholder="Password">
</form>