<form action="/users/new" method="get">
	<input type="submit" value="Sign Up">
</form>

<h3>Login:</h3>
<form action = "/users/login" method= "post">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<input type="submit" value="login">
</form>