
<div id = "signup">
<h3>Sign up to start using Survey Gorilla!</h3>
<form action = "/users/new" method= "post">
	<input class = "form_box" type="text" name="name" placeholder="Name">
	<input class = "form_box" type="text" name="username" placeholder="Username">
	<input class = "form_box" type="text" name="email" placeholder="Email">
	<input class = "form_box" type="password" name="password" placeholder="Password">
	<input id = "signup_submit" type="submit" value="submit">
</form>
</div>

<ul id = "errors"></ul>

