<div id="surveydiv">
<% Survey.all.each do |survey| %>
  <a class="surveylinks" href= "/surveys/<%= survey.id %>"><p><%= survey.name %></p></a>
<% end %>

<h1 class="homelink" ><a href="/users/<%= session[:user_id] %>/index">Home</a></h1>
</div>
