<a href="#">Take a Survey</a> <!-- href directed to "/surveys/index" -->
<a href="#">Create a Survey</a><!-- href directed to "/surveys/new" -->

<h2>My Surveys</h2>
<!-- the session with display the survey names that are user owned -->
<!-- Each Survey will have an 
Edit(<a href="#">Edit</a>),     take this to the partial page
Delete(
<form action="/users/<@user.id>%%=/index">
	<input type="submit" value="delete">
</form>,
)
Statistics(<a href="/surveys/<@user.id>%%=/stats"></a>)-->